.button {
	@apply
		inline-flex flex-nowrap items-center gap-1 py-2
		rounded-lg font-medium transition-all duration-200 cursor-pointer border
		
		focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-primary-300
}

.fill {
	@apply
		bg-primary-500 text-base-100 border-primary-500
		hover:bg-primary-600 hover:border-primary-600
		focus-visible:bg-primary-600 focus-visible:border-primary-600
		active:bg-primary-700 active:border-primary-700
}

.outline {
	@apply
		bg-transparent text-primary-500 border-primary-500
		hover:bg-primary-300 hover:text-primary-600 hover:border-primary-600 hover:bg-opacity-30
		focus-visible:bg-primary-300 focus-visible:text-primary-600 focus-visible:border-primary-600 focus-visible:bg-opacity-30
		active:bg-primary-400 active:text-primary-700 active:border-primary-700 active:bg-opacity-30
}

.empty {
	@apply
		bg-transparent text-primary-500 border-transparent
		hover:bg-primary-300 hover:text-primary-600 hover:bg-opacity-30
		focus-visible:bg-primary-300 focus-visible:text-primary-600 focus-visible:bg-opacity-30
		active:bg-primary-400 active:text-primary-700 active:bg-opacity-30
}