@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply font-sans bg-base-100;

	/* scrollbar firefox */
	scrollbar-width: thin;
	scrollbar-color: rgb(213 220 227 / 1) rgb(102 121 255 / 1);
}
/* scrollbar chrome, edge, safari, opera */
::-webkit-scrollbar {
	@apply w-2 h-2 lg:w-3 lg:h-3
}
::-webkit-scrollbar-track {
	@apply bg-base-200
}
::-webkit-scrollbar-thumb {
	@apply bg-primary-300
}

/* paragraph */
p {
	@apply mt-2 mb-4
}

/* list */
ol {
	@apply list-decimal list-outside py-2
}
ul {
	@apply list-disc list-outside py-2
}
li {
	@apply ml-6 pl-4
}

/* code block */
code {
	@apply
		p-1 font-mono rounded
		bg-base-200 bg-opacity-30
		
		only:bg-transparent only:p-0
}
pre {
	@apply
		my-4 p-4
		bg-base-200 bg-opacity-30
		overflow-x-auto
}

/* blockquote */
blockquote {
	@apply
		my-4 py-2 pr-2 pl-12 relative
		bg-base-200 bg-opacity-30 rounded-lg
		before:content-['"'] before:text-6xl before:absolute before:left-2 before:top-4
}

/* table */
table {
	@apply
		my-4 mx-auto w-full max-w-fit
		border-collapse whitespace-nowrap
		overflow-x-auto block
}
tr {
	@apply
		odd:bg-base-200 odd:bg-opacity-30
		even:bg-base-300 even:bg-opacity-30
}
th {
	@apply text-center bg-primary-400 text-base-100 px-4
}
td {
	@apply px-4
}