@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply font-sans bg-base-100
}

p {
	@apply mt-2 mb-4
}

/* list */
ol {
	@apply list-decimal list-outside py-2
}
ul {
	@apply list-disc list-outside py-2
}
li {
	@apply ml-6 pl-4
}

/* code block */
code {
	@apply
		p-1 font-mono rounded
		bg-base-300 bg-opacity-30
		
		only:bg-transparent only:p-0 
}
pre {
	@apply
		my-4 py-2 pr-2 pl-4
		bg-base-300 bg-opacity-30
		border-l-8 border-l-primary-500 rounded-lg 
		overflow-x-auto
}

/* blockquote */
blockquote {
	@apply
		my-4 py-2 pr-2 pl-4
		bg-base-300 bg-opacity-30
		border border-base-300 rounded-lg
}

/* table */
table {
	@apply my-4 w-full border-collapse
}
tr {
	@apply
		odd:bg-base-200 odd:bg-opacity-30
		even:bg-base-400 even:bg-opacity-30
}
th {
	@apply text-center bg-primary-200 px-2 uppercase
}
td {
	@apply px-2
}