.link {
    @apply
        transition-all duration-200
        cursor-pointer decoration-2 underline-offset-2
        text-primary-500
        
        hover:bg-primary-200 hover:text-primary-600 hover:bg-opacity-30
        hover:underline

        focus:bg-primary-200 focus:text-primary-600 focus:bg-opacity-30
        focus:outline-2 focus:outline-primary-300

        focus:hover:no-underline
}

.inline {
    @apply inline-flex flex-nowrap items-center
}