.base {
    @apply
        inline-flex flex-nowrap items-center
        transition-all duration-200
        cursor-pointer relative font-medium
        underline decoration-2 underline-offset-[6px]
        
        text-primary-500
        hover:text-primary-600
        focus:text-primary-600 
        active:text-primary-700
        
        hover:decoration-4 hover:underline-offset-[5px]
        focus:outline-2 focus:outline-primary-300
}